name: Wichtel Run

on: workflow_dispatch
jobs:
  Run-Wichtel-Code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v1
        with:
          go-version: '1.18.x'
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Download dependencies
        run: go mod download
      - name: Execute wichtel code
        run: go run wichtel.go
        env:
          BABY_BOOMERS_EMAIL: ${{ secrets.BABY_BOOMERS_EMAIL }}
          MILLENNIALS_EMAIL: ${{ secrets.MILLENNIALS_EMAIL }}
          SPECIAL_MILLENNIAL_EMAIL: ${{ secrets.SPECIAL_MILLENNIAL_EMAIL }}
          SPECIAL_BOOMER_EMAIL: ${{ secrets.SPECIAL_BABY_BOOMER_EMAIL }}
          TOKEN_JSON: ${{ secrets.TOKEN_JSON }}
          CREDENTIALS_JSON: ${{ secrets.CREDENTIALS_JSON }}
